html{
  background-image:url('https://i.pinimg.com/originals/cb/c2/2c/cbc22ca5a3d7568a742262639a9f6b3f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  width:50%;
  margin :0px auto;
}

