html{
  background-image: url('./Component/CSS/bg.jpg');
}
.App {
  width: 50%;
  margin: 50px auto;
  background-color: #fff;
  height:600px;
  border-radius:20px;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.todo-input{
  width: 70%;
  padding: 10px;
  font-size:13px;
}
.todo-button{
 padding: 10px;
 margin-left: 2px;
}
.todo-button:hover{
  background-color: rgb(113, 103, 222);
  color:#FFF;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  display: flex;
}
.separator {
  height:1px;
  
}
.todo-row{
  display:flex;
  justify-content: space-between;
  background-color:#c5d1e7;
  width:80%;
  margin:0px auto;
  border-radius: 5px;
}
.list-items{
  flex: 1;
  padding:10px;
  display: flex;
 
}
.delete-icon{
  padding: 10px;
}
.delete-icon:hover{
  background-color:rgb(195, 107, 13);
  color:#FFF;
  cursor: pointer;
}
.items-name{
  margin-left:20px;
}
.list-items:hover{
  background-color:#23e8c1;
  cursor: pointer;
}
.todo-form{
  text-align:center;
}
